# Intro

Data taken from https://platform.who.int/mortality/themes/theme-details/MDB/all-causes. Contains all countries, many years, number of deaths.

## Imports

In [3]:
import pandas as pd

## Load the Excel file

In [6]:
file_path = 'data_deaths.csv'
df = pd.read_csv(file_path)

# Exploratory analysis

## Basic info

In [7]:
print("Basic Information:")
print(df.info())

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314055 entries, 0 to 314054
Data columns (total 12 columns):
 #   Column                                                       Non-Null Count   Dtype
---  ------                                                       --------------   -----
 0   Region Code                                                  314055 non-null  object
 1   Region Name                                                  314055 non-null  object
 2   Country Code                                                 314055 non-null  object
 3   Country Name                                                 314055 non-null  object
 4   Year                                                         314055 non-null  int64
 5   Sex                                                          314055 non-null  object
 6   Age group code                                               314055 non-null  object
 7   Age Group                                                    314055 non-null  object
 8   Number                                                       312378 non-null  float64
 9   Percentage of cause-specific deaths out of total deaths      314055 non-null  int64
 10  Age-standardized death rate per 100 000 standard population  14328 non-null   float64
 11  Death rate per 100 000 population                            283980 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 28.8+ MB
None

## Statistics Summary

In [8]:
print("\nSummary Statistics:")
print(df.describe(include='all'))

Summary Statistics:
       Region Code Region Name Country Code Country Name           Year  \
count       314055      314055       314055       314055  314055.000000
unique           6           6          119          119            NaN
top             EU      Europe          MEX       Mexico            NaN
freq        126105      126105         4725         4725            NaN
mean           NaN         NaN          NaN          NaN    1993.423537
std            NaN         NaN          NaN          NaN      18.275490
min            NaN         NaN          NaN          NaN    1950.000000
25%            NaN         NaN          NaN          NaN    1980.000000
50%            NaN         NaN          NaN          NaN    1996.000000
75%            NaN         NaN          NaN          NaN    2009.000000
max            NaN         NaN          NaN          NaN    2022.000000

           Sex Age group code Age Group        Number  \
count   314055         314055    314055  3.123780e+05
unique       4             21        21           NaN
top        All        Age_all     [All]           NaN
freq    102249          14955     14955           NaN
mean       NaN            NaN       NaN  1.121549e+04
std        NaN            NaN       NaN  6.458636e+04
min        NaN            NaN       NaN  0.000000e+00
25%        NaN            NaN       NaN  8.800000e+01
50%        NaN            NaN       NaN  6.720000e+02
75%        NaN            NaN       NaN  3.956000e+03
max        NaN            NaN       NaN  3.464231e+06

        Percentage of cause-specific deaths out of total deaths  \
count                                            314055.0
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                                100.0
std                                                   0.0
min                                                 100.0
25%                                                 100.0
50%                                                 100.0
75%                                                 100.0
max                                                 100.0

        Age-standardized death rate per 100 000 standard population  \
count                                        14328.000000
unique                                                NaN
top                                                   NaN
freq                                                  NaN
mean                                           743.039159
std                                            288.610507
min                                            203.363799
25%                                            524.092649
50%                                            709.145493
75%                                            912.658249
max                                           2620.111063

        Death rate per 100 000 population
count                       283980.000000
unique                                NaN
top                                   NaN
freq                                  NaN
mean                          2417.696407
std                           5023.236637
min                              0.000000
25%                             97.965230
50%                            459.733636
75%                           2027.442924
max                         239215.686270

## NaN values

In [10]:
print("\nNaN Values per Column:")
print(df.isna().sum())

NaN Values per Column:
Region Code                                                         0
Region Name                                                         0
Country Code                                                        0
Country Name                                                        0
Year                                                                0
Sex                                                                 0
Age group code                                                      0
Age Group                                                           0
Number                                                           1677
Percentage of cause-specific deaths out of total deaths             0
Age-standardized death rate per 100 000 standard population    299727
Death rate per 100 000 population                               30075
dtype: int64

## Empty values

Assuming empty values are represented as empty strings

In [11]:
print("\nEmpty Values per Column:")
print((df == '').sum())

Empty Values per Column:
Region Code                                                    0
Region Name                                                    0
Country Code                                                   0
Country Name                                                   0
Year                                                           0
Sex                                                            0
Age group code                                                 0
Age Group                                                      0
Number                                                         0
Percentage of cause-specific deaths out of total deaths        0
Age-standardized death rate per 100 000 standard population    0
Death rate per 100 000 population                              0
dtype: int64

## Unique values

In [12]:

print("\nUnique Values per Column:")
for column in df.columns:
    unique_values = df[column].unique()
    print(f"{column}: {len(unique_values)} unique values")

Unique Values per Column:
Region Code: 6 unique values
Region Name: 6 unique values
Country Code: 119 unique values
Country Name: 119 unique values
Year: 73 unique values
Sex: 4 unique values
Age group code: 21 unique values
Age Group: 21 unique values
Number: 41935 unique values
Percentage of cause-specific deaths out of total deaths: 1 unique values
Age-standardized death rate per 100 000 standard population: 14329 unique values
Death rate per 100 000 population: 267220 unique values

# Totals per country

This section analyzes the data as grouped by country.

In [26]:
df_country = df[["Country Name", "Death rate per 100 000 population", "Year"]].groupby(["Country Name", "Year"]).count()
df_country

                                         Death rate per 100 000 population
Country Name                       Year
Albania                            1987                                 60
                                   1988                                 60
                                   1989                                 60
                                   1992                                 60
                                   1993                                 60
...                                                                    ...
Venezuela (Bolivarian Republic of) 2012                                 60
                                   2013                                 60
                                   2014                                 60
                                   2015                                 60
                                   2016                                 60

[4869 rows x 1 columns]

In [28]:
df[df["Country Name"] == "Sweden"]

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
233457,EU,Europe,SWE,Sweden,1951,All,Age_all,[All],69799.0,100,878.907709,987.214121
233458,EU,Europe,SWE,Sweden,1951,All,Age00,[0],2378.0,100,NaN,2152.036199
233459,EU,Europe,SWE,Sweden,1951,All,Age01_04,[1-4],600.0,100,NaN,122.649223
233460,EU,Europe,SWE,Sweden,1951,All,Age05_09,[5-9],363.0,100,NaN,59.861478
233461,EU,Europe,SWE,Sweden,1951,All,Age10_14,[10-14],210.0,100,NaN,45.971979
...,...,...,...,...,...,...,...,...,...,...,...,...
313357,EU,Europe,SWE,Sweden,2019,Unknown,Age70_74,[70-74],12.0,100,NaN,NaN
313358,EU,Europe,SWE,Sweden,2019,Unknown,Age75_79,[75-79],7.0,100,NaN,NaN
313359,EU,Europe,SWE,Sweden,2019,Unknown,Age80_84,[80-84],3.0,100,NaN,NaN
313360,EU,Europe,SWE,Sweden,2019,Unknown,Age85_over,[85+],10.0,100,NaN,NaN
313361,EU,Europe,SWE,Sweden,2019,Unknown,Age_unknown,[Unknown],0.0,100,NaN,NaN